<div class="row">
  <div class="card-body">
    <h1 class="text-center">Entrar no Sitema</h1>
  </div>
</div>
<hr><br>

<div class="row">
	<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<%= form_tag({controller: "auth", action: "sign_in"}, method: "post") do %>
			  <div class="form-group">
			    <%= label_tag :registration, 'Código de Matricula' %>
			    <%= text_field :firefighter, :registration, :class => 'form-control' %>
			  </div>
			  <div class="form-group">
			    <%= label_tag :password, 'Senha' %>
			    <%= password_field :firefighter, :password, :class => 'form-control' %>
			  </div>
			  <%= submit_tag("Entrar", :class => "btn btn-primary") %>
			<% end %>
		</div>
	<div class="col-sm-2"></div>
</div>