<%= form_for @type_occurrence, url: {controller: "type_occurrences", action: "create"} do |f| %>

  <% if @type_occurrence.errors.any? %>
    <div class="alert alert-danger" role="alert" >
      <strong>Opss! Alguns erros foram encontrados</strong><br>
      <% @type_occurrence.errors.values.each do |value| %>
        <% value.each do |message| %>
          <%= message %><br>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="row">
    <div class="card-body">
      <h1 class="text-left">Novo tipo de ocorrência</h1>
    </div>
  </div>
  <hr><br>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="form-group">
        <%= label_tag "Nome / Tipo de ocorrência" %>
        <%= f.text_field :name, :required => true, placeholder: "Incêndio - Salvamento em altura...", class: "form-control form-control-sm" %>
      </div>
      <div class="form-group">
        <%= label_tag "Código da ocorrência" %>
        <%= f.number_field :code, :required => true, placeholder: "13", class: "form-control form-control-sm" %>
      </div>
      <%= f.submit "Cadastrar", class: "btn btn-default"  %>
          <%= link_to "Voltar", {controller: "type_occurrences", action: "index"}, class: "btn btn-link" %>

    </div>
    <div class="col-sm-2"></div>
  </div>

<% end %>
