<div class="row">
  <div class="card-body">
    <h1 class="text-center">Lista de Índices Pluviométricos</h1>
  </div>
</div>
<hr><br>

<div class="row">
	<div class="col-sm-12">
		<%= link_to "Novo Ind. Pluviométrico", {controller: "pluviometers", action: "new"}, class: "btn btn-default" %>
	</div>
</div><br>

<div class="row">
	<div class="table-responsive"> 
		<table class="table">
			<thead>
				<tr>
					<th>Efetuado por:</th>
					<th>Data</th>
					<th>Chuva nas últimas 24hrs</th>
					<th>Chuva nas últimas 48hrs</th>
					<th>Observações</th>
					<th>Editar</th>
					<th>Excluir</th>
				</tr>
			</thead>
			<% @pluviometers.each do |pluviometer| %>
				<tr>
					<td><%= pluviometer.firefighter.name %></td>
					<td><%= pluviometer.date %></td>
					<td class="text-center"><%= pluviometer.last_twenty_four %>mm</td>
					<td class="text-center"><%= pluviometer.last_forty_eight %>mm</td>
					<% if pluviometer.note.present? %>
						<td><%= pluviometer.note %></td>
					<% else %>
						<td>Nenhuma observação</td>
					<% end %>
					<td><%= link_to "Editar", edit_pluviometer_path(pluviometer) %></td>
					<td><%= link_to "Excluir", pluviometer_path(pluviometer), method: :delete, data: { confirm: "Tem certeza?" } %></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>