<div class="row">
  <div class="card-body">
    <h1 class="text-center">Lista de Todas Ocorrências Cadastradas</h1>
  </div>
</div>
<hr><br>


<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Data</th>
        <th>Solicitante</th>
        <th>Telefone</th>
        <th>Endereço</th>
        <th>Ver detalhes</th>
        <th>Status</th>
      </tr>
    </thead>
    <thead>
    <% @event_logs.each do |event_log| %>
        <tr>
          <td><%= format_date(event_log.date) %></td>
          <td><%= event_log.requester %></td>
          <td><%= number_to_phone(event_log.phone, pattern: /(\d{2})(\d{5})(\d{4})$/) %></td>
          <td><%= event_log.address.name %> - N° <%= event_log.number %></td>
          <td> <%= link_to "Ver detalhes", type_occurrence_event_log_path(event_log.occurrence_type, event_log) %>
             <!-- <a href="/type_occurrences/<%= event_log.occurrence_type.id %>/event_logs/<%= event_log.id %>">dsdsd</a>-->
          </td>
            <% if event_log.finished == true %>
              <td>Finalizada</td>
            <% else %>
              <td>Pendente</td>
            <% end %>
        </tr>
      <% end %>
    </thead>
  </table>
</div>

<div class="row">
  <div class="col-sm-12 text-center">
      <%= will_paginate @pluviometers, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
