<div class="row">
  <div class="card-body">
    <h1 class="text-center">Lista de Ocorrências Cadastradas em <%= @type_occurrence.name %> </h1>
  </div>
</div>
<hr><br>

<div class="row">
  <div class="col-sm-12">
    <%= link_to "Nova Ocorrência", {controller: "event_logs", action: "new"}, class: "btn btn-default" %>
    <%= link_to "Voltar", {controller:"type_occurrences", action: "index"}, class: "btn btn-default" %>
  </div>
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Data</th>
        <th>Solicitante</th>
        <th>Telefone</th>
        <th>Endereço</th>
        <th>Ver detalhes</th>
        <th>Editar</th>
      </tr>
    </thead>
    <thead>
    <% @event_logs.each do |event_log| %>
        <tr>
          <td><%= format_date(event_log.date) %></td>
          <td><%= event_log.requester %></td>
          <td><%= event_log.phone %></td>
          <td><%= event_log.address.name %></td>
          <td><%= link_to "Ver detalhes", type_occurrence_event_log_path(@type_occurrence, event_log) %></td>
          <td><%= link_to "Editar", edit_type_occurrence_event_log_path(@type_occurrence, event_log) %></td>
        </tr>
      <% end %>
    </thead>
  </table>
</div>
