<%= form_for @district, url: {controller: "districts", action: "update"} do |f| %>
	
	<h1>Atualizar bairro</h1>

	<div class="row">
		<div class="col-sm-2"></div>	
			<div class="col-sm-8">
				<div class="form-group">
					<%= label_tag "Nome do bairro" %>
					<%= f.text_field :name, class: "form-control form-control-sm" %>
				</div>

				<%= f.submit "Atualizar", class: "btn btn-default"  %>
				  <%= link_to "Voltar", {controller: "districts", action: "index"}, class: "btn btn-link" %>
			</div>
		<div class="col-sm-2"></div>
	</div>
<% end %>