<div class="row">
  <div class="card-body">
    <h1 class="text-center">Lista de Bairros Cadastrados</h1>
  </div>
</div>
<hr><br>

<div class="row">
	<div class="col-sm-12">
		<%= link_to "Novo Bairro", {controller: "districts", action: "new"}, class: "btn btn-default" %>
	</div>
</div><br>

<div class="row">
	<table class="table">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Editar</th>
				<th>Excluir</th>
				<th>Ruas</th>
			</tr>
		</thead>
		<% @districts.each do |district| %>
			<tr>
				<td><%= district.name %></td>
				<td><%= link_to "Editar", edit_district_path(district) %></td>
				<td><%= link_to "Apagar", district, method: :delete, data: {confirm: "Tem certeza?"} %></td>
				<td><%= link_to "Ruas", district_adresses_path(district) %></td>
			</tr>
		<% end %>
	</table>
</div>