<%= form_for @district, url: {controller: "districts", action: "create"} do |f| %>

	<%if @district.errors.any? %>
		<div class="alert alert-danger" role="alert"> 
			<strong>Opss! Alguns erros foram encontrados</strong><br>
			<% @district.errors.messages.values.each do |value| %>
				<% value.each do |message| %>
					<%= message %>
				<% end %>
			<% end %>
		</div>
	<% end %>


	<div class="row">
	  <div class="card-body">
	    <h1 class="text-left">Novo Bairro</h1>
	  </div>
	</div>
	<hr><br>

	<div class="row">
		<div class="col-sm-2"></div>	
			<div class="col-sm-8">
				<div class="form-group">
					<%= label_tag "Nome do bairro", nil, class: 'required' %>
					<%= f.text_field :name, :required => true, placeholder: "Centro", class: "form-control form-control-sm" %>
				</div>

				<%= f.submit "Cadastrar", class: "btn btn-default"  %>
				  <%= link_to "Voltar", {controller: "districts", action: "index"}, class: "btn btn-link" %>
			</div>
		<div class="col-sm-2"></div>
	</div>
<% end %>
