<%= form_for @firefighter, url: {controller: "firefighters", action: "update"} do |f| %>

	<% if @firefighter.errors.any? %>
		<div class="alert alert-danger" role="alert">
			<strong>Opss! Alguns erros foram encontrados</strong><br>
			<% @firefighter.errors.messages.values.each do |value| %>
				<% value.each do |message| %><br>
					<%= message %>
				<% end %>
			<% end %>
		</div>
	<% end %>

	<div class="row">
	  <div class="card-body">
	    <h1 class="text-left">Atualizar Bombeiro</h1>
	  </div>
	</div>
	<hr><br>


	<div class="row">
		<div class="col-sm-2"></div>
			<div class="col-sm-4">
				<div class="form-group">
					<%= label_tag "Nome" %>
					<%= f.text_field :name, class: "form-control form-control-sm" %>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<%= label_tag "Sobrenome" %>
					<%= f.text_field :last_name, class: "form-control form-control-sm" %>
				</div>
			</div>
		<div class="col-sm-2"></div>
	</div>
	<div class="row">
		<div class="col-sm-2"></div>
			<div class="col-sm-4">
				<div class="form-group">
					<%= label_tag "Telefone" %>
					<%= f.number_field :phone, class: " form-control form-control-sm" %>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<%= label_tag "E-mail" %>
					<%= f.email_field :email, class: "form-control form-control-sm" %>
				</div>
			</div>
		<div class="col-sm-2"></div>
	</div>
	<div class="row">
		<div class="col-sm-2"></div>
			<div class="col-sm-3">
				<div class="form-group">
					<%= label_tag "Código de Matricula" %>
					<%= f.text_field :registration, class: "form-control form-control-sm" %>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<%= label_tag "Data de Nascimento" %>
					<%= f.date_field :birth_date, class: " form-control form-control-sm" %>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<%= label_tag "Tipo Sanguíneo" %>
					<%= f.text_field :type_blood, class: " form-control form-control-sm" %>
				</div>
			</div>
		<div class="col-sm-2"></div>
	</div>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-3">
			<div class="form-check">
				<%= label_tag "É comandante?" %>
			</div>
			<div class="form-check form-check-inline">
				Sim
				<%= f.radio_button :commandant, true, class: "form-inline" %>
			</div>
			<div class="form-check form-check-inline">
				Não
				<%= f.radio_button :commandant, false, class: "form-inline" %>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="form-check">
				<%= label_tag "Renovar senha?" %>
			</div>
			<div class="form-check form-check-inline">
				Sim
				<%= f.radio_button :renew_password, true, class: "form-inline" %>
			</div>
			<div class="form-check form-check-inline">
				Não
				<%= f.radio_button :renew_password, false, class: "form-inline" %>
			</div>
		</div>
		<div class="col-sm-2">
			<label>Senha Padrão</label>
			<input class="form-control" type="text" placeholder="*******" readonly>
		</div>
		<div class="col-sm-2"></div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<div class="form-group">
				<%= f.submit "Atualizar", class: "btn btn-default"  %>
				<%= link_to "Voltar", {controller: "firefighters", action: "index"}, class: "btn btn-link" %>
			</div>
		</div>
		<div class="2"></div>
	</div>
<% end %>