<div class="row">
  <div class="card-body">
    <h1 class="text-center">Bombeiros da Corporação</h1>
  </div>
</div>
<hr><br>

<div class="row">
	<div class="col-sm-12">
		<%= link_to "Novo Bombeiro", {controller: "firefighters", action: "new"}, class: "btn btn-default" %>
	</div>
</div><br>

<div class="row">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Sobrenome</th>
					<th>Telefone</th>
					<th>Visualizar</th>
					<th>Editar</th>
					<th>Excluir</th>
				</tr>
			</thead>
			<% @firefighters.each do |firefighter| %>
				<tr>
					<td><%= firefighter.name %></td>
					<td><%= firefighter.last_name %></td>
					<td><%= number_to_phone(firefighter.phone, pattern: /(\d{2})(\d{5})(\d{4})$/) %></td>
					<td><%= link_to "Visualizar", firefighter_path(firefighter) %></td>
					<td><%= link_to "Editar", edit_firefighter_path(firefighter) %></td>
          <% if firefighter.event_logs.present? or firefighter.absences.present? or firefighter.pluviometers.present? %>
            <td><span class="badge badge-info">Em uso</span></td>
          <% else %>
					<td><%= link_to "Apagar", firefighter, method: :delete, data: {confirm: "Tem certeza?"} %></td>
          <% end %>
				</tr>
			<% end %>
		</table>
	</div>
</div>
