<%= form_for @absence, url: {controller: "absences", action: "create" } do |f| %>

  <% if @absence.errors.any? %>
    <div class="alert alert-danger" role= "alert">
      <strong>Opss! Alguns erros foram encontrados</strong><br>
      <% @absence.errors.messages.values.each do |value| %>
        <% value.each do |message| %>
          <%= message %><br>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="row">
    <div class="card-body">
      <h1 class="text-left">Nova Ausência</h1>
    </div>
  </div>
  <hr><br>

  <div class="row">
    <div class="col-sm-2"></div>
      <div class="col-sm-2">
        <div class="form-group">
          <%= label_tag "Data de saída", nil, class: 'required' %>
          <%= f.date_field :date_out, :required => true, class: "form-control form-control-sm" %>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <%= label_tag "Hora da saída", nil, class: 'required' %>
          <%= f.time_field :exit_time, :required => true, class: "form-control form-control-sm" %>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <%= label_tag "Data de retorno", nil, class: 'required' %>
          <%= f.date_field :return_date, :required => true, class: "form-control form-control-sm" %>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <%= label_tag "Hora do retorno", nil, class: 'required' %>
          <%= f.time_field :return_time, :required => true,  class: "form-control form-control-sm" %>
        </div>
      </div>
    <div class="col-sm-2"></div>    
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <%= label_tag "Km de saída", nil, class: 'required' %>
        <%= f.number_field :mileage_output, :required => true, class: "form-control form-control-sm" %>
      </div>
      <div class="col-sm-4">
        <%= label_tag "Km de retorno", nil, class: 'required' %>
        <%= f.number_field :mileage_return, :required => true, class: "form-control form-control-sm" %>
      </div>
    <div class="col-sm-2"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div class="form-group">
          <%= label_tag "Justificativa", nil, class: 'required' %>
          <%= f.text_area :justification, :required => true, placeholder: "Busca de documentos...", class: "form-control form-control-sm" %>
        </div>
      </div>
    <div class="col-sm-2"></div>
  </div>

  <div class="row">
    <div class="card-body">
      <h4 class="text-center">Selecione os bombeiros envolvidos na ausência</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div class="form-group">
          <div class="row">
            <% @firefighters.in_groups_of(3, false) do |firefighters| %>
                <% for firefighter in firefighters %>
                  <div class="col-sm-4">
                    <label>
                      <%= check_box_tag "firefighters[]", firefighter.id %>
                      <%= firefighter.name %> <%= firefighter.last_name %>
                    </label> 
                  </div>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <div class="col-sm-2"></div>
  </div>

   <div class="row">
    <div class="card-body">
      <h4 class="text-center">Selecione as viaturas envolvidas na ausência</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div class="form-group">
          <div class="row">
            <% @cars.in_groups_of(3, false) do |cars| %>
                <% for car in cars %>
                  <div class="col-sm-4">
                    <label>
                      <%= check_box_tag "cars[]", car.id %>
                      <%= car.name %> - <%= car.number%>
                    </label> 
                  </div>
                <% end %>
            <% end %>
          </div>
          </div class="form-group">
            <%= f.submit "Cadastrar", class: "btn btn-default" %>
            <%= link_to "Voltar", {controller: "absences", action: "index"}, class: "btn btn-link" %>
          <div>
        </div>
      </div>
    <div class="col-sm-2"></div>
  </div>
<% end %>
<br>
<br>
