<%= form_for @car, url: {controller: "cars", action: "create"} do |f| %>
	<% if @car.errors.any?  %>
		<div class="alert alert-danger" role="alert">
			<strong>Opss! Alguns erros foram encontrados</strong><br>
			<% @car.errors.messages.values.each do |value| %>
				<% value.each do |message| %>
					<%= message %> <br>
				<% end %>
			<% end %>
		</div>
		
	<% end %>

	<div class="row">
		<div class="card-body">
	    	<h1 class="text-left">Nova viatura do tipo <%= @type_of_car.name %></h1>
	  	</div>
	</div>
	<hr><br>

	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<div class="form-group">
				<%= label_tag "Marca da viatura", nil, class: 'required' %>
				<%= f.text_field :brand, :required => true, placeholder: "Chevrolet - Fiat...", class: "form-control form-control-sm" %>
			</div>
			<div class="form-group">
				<%= label_tag "Nome da viatura", nil, class: 'required' %>
				<%= f.text_field :name, :required => true, placeholder: "Uno - Celta...", class: "form-control form-control-sm" %>
			</div>
			<div class="form-group">
				<%= label_tag "Placa", nil, class: 'required' %>
				<%= f.text_field :board,:required => true, placeholder: "xxx1234", class: "form-control form-control-sm" %>
			</div>
		</div>
		<div class="col-sm-2"></div>
	</div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= label_tag "Ano da viatura", nil, class: 'required' %>
        <%= f.number_field :year, :required => true, placeholder: "1990", class: "form-control form-control-sm" %>
      </div>
      <%= f.submit "Cadastrar", class: "btn btn-default" %>
      <%= link_to "Voltar", {controller: "cars", action: "index"}, class: "btn btn-link" %>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= label_tag "Quilometragem", nil, class: 'required' %>
        <%= f.number_field :mileage, :required => true, placeholder: "150000", class: "form-control form-control-sm" %>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <%= label_tag "Número", nil, class: 'required' %>
        <%= f.number_field :number, :required => true, placeholder: "05", class: "form-control form-control-sm" %>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
<% end %>
